/* Default */
body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
	line-height: 1.5;
	letter-spacing: 0.05em;
	font-size: 16px;
	background-color: #303841;
	color: #d8dee9;
}
h1,h2,h3,p,ol,ul,li,a {
	font-family: sans-serif;
}
h1,h2,h3 {
	font-family: sans-serif;
	color: #EDEDED;
}
h2 {
	font-size: 1.3em;
}
a {
	font-weight: bold;
	color: #EDEDED;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
a:hover {
	color: #848b95;
}
code, pre {
	background-color: #22262a;
	color: #EDEDED;
	border-radius: 4px;
	padding: 0 0.25em;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
img {
	width: 100%;
	height: auto;
}
section.main {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
p.copyright {
	margin: 0 auto;
	margin-bottom: 0.5em;
    text-align: center;
    color: #333333;
}

/* Breakpoint */
@media screen and (max-width: 700px) {
	section.main {
		margin: 5rem 2rem;
	}
}

/*********************************** 
 For style-guide
************************************/
h3 {
	color: #000000;
}
.headline {
  color: #000000;
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
}
.caption {
	font-size:  14px;
	font-family: sans-serif;
	color: #000000;
}
.des {
	font-size:  16px;
	font-family: sans-serif;
	color: #000000;
}
.subSection1, .subSection2, .subSection3 {
	background-color: white;
	margin-bottom: 100px;
	padding: 10px;
}
.my-button {
	font-size:  16px;
	font-family: sans-serif;
	background-color: #ffffff;
	color: #333; 
	padding: 11.5px 20px; 
	border: 1px solid #e1e1e1; 
	border-radius: 2px; 
	cursor: pointer; 
}

.my-button:hover {
	background-color: #000; 
	color: #fff; 
}